extends layout

block content
		div.row
			div
				div.account-wall
					h1 LOGIN PAGE
					form(class='form-signin', action='/login', method='POST')
						input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
						input(type='password', name='password' class='form-control', placeholder='Password', required)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
						a(href='/login/twitter', class='btn btn-block btn-social btn-twitter') Sign in with Twitter
							i(class='fa fa-twitter')								
						a(href='/login/facebook', class='btn btn-block btn-social btn-facebook') Sign in with Facebook
							i(class='fa fa-facebook')
						span.clearfix
				a(href='/signup', class='text-center new-account') Sign Up
				#message
				if message
					h1.text-center.error-message #{message}
		div.row
