div.container
h1.text-center.login-title Page Title
img(class='profile-img', src='https://homeenergyhub.co.uk/wp-content/uploads/2015/12/logo.png')
a(href='/settings', class='glyphicon glyphicon-cog')
a(href='/signout', class='glyphicon glyphicon-log-out')
